project:
  type: website
  output-dir: _site

website:
  title: "Rushikesh Kulkarni"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects/index.qmd
        text: Projects
      - href: blog/index.qmd
        text: Blog
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - darkly
      - brand
    css: styles.css
    toc: true



