body{
    background-color: black;
}


ul{
    list-style-type:none;
    
    padding-left:5%;
    overflow:hidden;
    font-family:calibri;
}

li{
    float:left;
    
}

a:link,a:visited{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#000000;
    width:160px;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
    text-decoration:solid;
}
a:hover,a:active{
    background-color:#12121d;
}

h1{
    color: aliceblue;
    padding-top: 10%;
}

h3{
    color:bisque
}